## connection to database

In [332]:
import pyodbc
import datetime
import pandas as pd
from pandas import DataFrame
import pandas.io.sql as psql

In [333]:
connection = pyodbc.connect('DSN=SKPC-30;UID=sa;PWD=sa@123')

if  connection:
    print("Yes we are connected :")
    
else:
    print ("we are not connected")

Yes we are connected :

In [334]:
print(connection)

<pyodbc.Connection object at 0x000002CF01D0C370>

In [335]:
#STARTDATE = datetime.datetime(2019, 5, 1).strftime('%Y-%m-%d %H:%M:%S')
#ENDDATE = datetime.datetime(2019, 6, 1).strftime('%Y-%m-%d %H:%M:%S')

In [336]:
STARTDATE = '2019-05-01'
ENDDATE = '2019-06-01'

In [337]:
#start = '01/05/2019'
#end = '01/06/2019'

In [338]:
#cursor = connection.execute('''
#SELECT Skcode FROM OrderMasters 
#WHERE OrderMasters.CreatedDate BETWEEN ? AND ?
#''', STARTDATE, ENDDATE)

In [339]:
params = (STARTDATE,ENDDATE)

In [340]:
#CAST(? as datetime) AND CAST(? as datetime)

In [341]:
##total amount for skcode between one month
sql = ''' \
SELECT Skcode,
        SUM(TotalAmount) AS amount                                     
    FROM OrderMasters
    where OrderMasters.CreatedDate  BETWEEN ? AND ?
    GROUP BY Skcode
          

          '''

In [342]:
cursor = connection.execute(sql,params)

In [343]:
print(cursor)

<pyodbc.Cursor object at 0x000002CF01D0F210>

In [345]:
df = psql.frame_query(sql, connection)

AttributeError: module 'pandas.io.sql' has no attribute 'frame_query'

In [346]:
sql_data = pd.DataFrame(cursor.fetchall())
#sql_data.columns = cursor.column_names

In [347]:
sql_data

                                  0
0               [SK10000, 60858.39]
1      [SK10001, 88917.09000000001]
2                [SK10004, 3563.98]
3                [SK10010, 1790.57]
4                 [SK10011, 3588.7]
5      [SK10013, 8752.210000000001]
6     [SK10015, 29388.870000000003]
7                [SK10017, 6661.44]
8              [SK10018, 107264.79]
9               [SK10019, 32174.23]
10               [SK10022, 94184.7]
11             [SK10023, 184964.58]
12    [SK10026, 1465.1100000000001]
13             [SK10027, 290238.67]
14              [SK10028, 16943.65]
15    [SK10029, 236294.66999999995]
16              [SK10030, 10556.01]
17               [SK10032, 6493.25]
18             [SK10033, 160726.12]
19              [SK10034, 38391.43]
20              [SK10037, 14420.01]
21              [SK10038, 32550.68]
22               [SK10039, 9485.92]
23             [SK10044, 239081.67]
24               [SK10045, 3354.27]
25               [SK10047, 20121.5]
26               [SK10057, 3119.52]
27              [SK10058, 13588.31]
28               [SK10059, 3057.17]
29              [SK10060, 25955.71]
...                             ...
3439              [SK9934, 6030.09]
3440              [SK9936, 2031.69]
3441              [SK9937, 1019.08]
3442             [SK9938, 30037.15]
3443              [SK9940, 28576.8]
3444              [SK9943, 2476.56]
3445            [SK9944, 138073.81]
3446              [SK9945, 37410.4]
3447              [SK9948, 7612.76]
3448              [SK9950, 4689.68]
3449             [SK9951, 113956.1]
3450              [SK9952, 3588.88]
3451   [SK9957, 7130.2699999999995]
3452              [SK9958, 3546.71]
3453              [SK9961, 2847.78]
3454   [SK9967, 23233.170000000002]
3455              [SK9968, 1006.62]
3456   [SK9969, 13237.349999999999]
3457              [SK9970, 4476.35]
3458              [SK9977, 9128.83]
3459               [SK9978, 2041.0]
3460             [SK9979, 14417.23]
3461             [SK9981, 13467.34]
3462              [SK9984, 3860.41]
3463    [SK9985, 61690.92999999999]
3464            [SK9991, 633850.72]
3465             [SK9992, 13579.79]
3466               [SK9993, 803.85]
3467              [SK9994, 2345.96]
3468            [SK9995, 226105.09]

[3469 rows x 1 columns]